<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <menuitem label="Balance">
    <icon>fas:ambulance fa-fw</icon>
    <menu>
      <menuitem label="Cadastros">
        <menu>
          <menuitem label="Ficha Cadastral">
            <action>FichaCadastralList</action>
          </menuitem>
          <menuitem label="Tipos de Residuos">
            <action>TipoResiduoList</action>
          </menuitem>
          <menuitem label="Unidades de Medidas">
            <action>UnidadeMedidaList</action>
          </menuitem>
          <menuitem label="Produtos">
            <action>ProdutoBonificacaoList</action>
          </menuitem>
        </menu>
      </menuitem>
      <menuitem label="Material Residual">
        <action>MaterialResiduoList</action>
      </menuitem>
      <menuitem label="Recebimento de Material">
        <action>RecebimentoMaterialList</action>
      </menuitem>
      <menuitem label="Entrada de Bonificação">
        <action>EntradaBonificacaoList</action>
      </menuitem>
      <menuitem label="Saida de Bonificacao">
        <action>SaidaBonificacaoList</action>
      </menuitem>
      <menuitem label="Consultas">
        <menu>
          <menuitem label="Saldo por Produto">
            <action>SaldoProdutoView</action>
          </menuitem>
          <menuitem label="Saldo por Pessoa ">
            <action>SaldoPessoaMaterialView</action>
          </menuitem>
          <menuitem label="Acumulo de Saldo">
            <action>SaldoAcumuloPessoaView</action>
          </menuitem>
        </menu>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="_t{Administration}">
    <icon>fas:home fa-fw</icon>
    <menu>
      <menuitem label="Dashboard">
        <action>SystemAdministrationDashboard</action>
        <icon>fas:tachometer-alt fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Programs}">
        <action>SystemProgramList</action>
        <icon>far:file-code fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Groups}">
        <action>SystemGroupList</action>
        <icon>fas:users fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Units}">
        <action>SystemUnitList</action>
        <icon>fas:university fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Roles}">
        <action>SystemRoleList</action>
        <icon>fas:user-tag fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Users}">
        <action>SystemUserList</action>
        <icon>fas:user fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Contacts}">
        <action>SystemContactsList</action>
        <icon>far:address-card fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Database explorer}">
        <action>SystemDatabaseExplorer</action>
        <icon>fas:database fa-fw</icon>
      </menuitem>
      <menuitem label="_t{SQL Panel}">
        <action>SystemSQLPanel</action>
        <icon>fas:table fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Menu editor}">
        <action>SystemMenuEditor</action>
        <icon>far:edit fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Files diff}">
        <action>SystemFilesDiff</action>
        <icon>fas:file-medical-alt fa-fw</icon>
      </menuitem>
      <menuitem label="PHP Info">
        <action>SystemPHPInfoView</action>
        <icon>fas:info-circle fa-fw</icon>
      </menuitem>
      <menuitem label="System Information">
        <action>SystemInformationView</action>
        <icon>fas:desktop fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Preferences}">
        <action>SystemPreferenceForm#method=onEdit</action>
        <icon>fas:cog fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Logout">
    <action>LoginForm#method=onLogout#static=1</action>
    <icon>fas:sign-out-alt fa-fw</icon>
  </menuitem>
</menu>
